/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    overflow-y:hidden   ;
}

/* CORES DO PROJETO */
:root {
    --header-green: #1c5d31;
    --light-green: #c9edc6;
    --input-green: #6ca86c;
}

/* HEADER */
header {
    width: 100%;
    height: 4rem;
    background: var(--header-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-icon {
    width: 12.5rem;
    height: 50px;
    background-image: url(/2730d5b3-2b6c-44fa-9f46-1a5a79f5cb43\ 2\ \(1\).png);
    border-radius: 10px;
}

.logo span {
    font-size: 28px;
    font-weight: 700;
    color: white;
}

/* ÍCONES DE REDES */
.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 8px;
}

/* MAIN */
main {
    width: 100%;
    background: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

/* LADO ESQUERDO - IMAGEM */
.left-box {
    display: flex;
    width: 60%;
    height: 50rem;
    background-image: url("/bCwIkyXXk4ybnepTD3UcJ23lpuwFyOgluVYWsS0w\ \(1\)\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100dvh;
}

/* CARD DE CADASTRO */
.card {
    width: 35rem;
    background: #e8fce3;
    border: 4px solid #2a6b2a;
    border-radius: 20px;
    padding: 25px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card h2 {
    color: #1d4a1d;
    margin-bottom: 30px;
    font-size: 30px;
}

.label {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.4rem; /* Ajustado para consistência */
    color: #1d4a1d;
}

.card input {
    width: 100%;
    padding: 10px;
    border: 4px solid var(--input-green);
    border-radius: 10px;
    outline: none;
    background: #8faa8f;
    line-height: 2rem;
}

input::placeholder {
    font-size: 0.9rem;
    color: #000000;
}

/* BOTÕES FB E GOOGLE */
.social-btns {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.fb, .google {
    width: 48%;
    padding: 7px;
    border: 4px solid var(--input-green);
    border-radius: 10px;
    background: #8faa8f;
    color: #000000;
    cursor: pointer;
}

/* TEXTO DE CONTA */
.conta {
    color: #000000;
}

.icon x{
    background-image: url(/Icone\ x.avif);
}