/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* CORES DO PROJETO */
:root {
    --header-green: #1c5d31;
    --light-green: #c9edc6;
    --input-green: #6ca86c;
}

/* HEADER */
header {
    width: 100%;
    height: 70px;
    background: var(--header-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 200px;
    height: 50px;
    background-image: url(/2730d5b3-2b6c-44fa-9f46-1a5a79f5cb43\ 2\ \(1\).png);
    border-radius: 10px;
}

.logo span {
    font-size: 28px;
    font-weight: 700;
    color: white;
}

/* ÍCONES DE REDES */
.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 8px;
}

/* MAIN */
main {
    width: 100%;
    background: var(--light-green);
    display: flex;
    justify-content: center;      /* deixa no centro horizontal */
    align-items: center;          /* deixa no centro vertical */
    padding: 20px;
    min-height: calc(100vh - 70px);  /* ocupa a tela toda menos o header */
}


/* LADO ESQUERDO */
.left-box {
    display: flex;
    width: 60%;
    height: 790px;
    background-image: url(/bCwIkyXXk4ybnepTD3UcJ23lpuwFyOgluVYWsS0w\ \(1\)\ 1.png);
}

/* CARD DE CADASTRO */
.card {
    width: 540px;
    background: rgba(255, 255, 255, 0.25);
    border: 4px solid #2a6b2a;
    border-radius: 20px;
    padding: 25px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 1rem;  
    
}

.card h2 {
    color: #1d4a1d;
    margin-bottom: 30px;
    font-size: 30px;
}

.label {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 14px;
    color: #1d4a1d;
}

.card input {
    width: 100%;
    padding: 10px;
    border: 4px solid var(--input-green);
    border-radius: 10px;
    outline: none;
    background: #f8fff8;
    line-height: 2rem;
}

/* BOTÕES FB E GOOGLE */
.social-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.fb, .google {
    width: 48%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #333;
    background: #ffffff;
    cursor: pointer;
}


input::placeholder{
font-size: 0.9rem;
}


.label{
    font-size: 1.4rem;
}


.conta{
     color: #1d4a1d;
}